body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1{
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
}

h2{
    color: #66BFBF;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr{
    margin-top: 100px;
    margin-bottom: 50px;
    border-top: dotted 6px;
    color: gray;
    width: 4%;
}

a{
    color: #11999E;
    padding: auto 20px auto;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
    margin-top: 40px;
}

.middle-container{
    margin-top: 50px;
}

.programmer{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.img-alg{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.img-webdev{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-message{
    margin: 40px auto 60px;
    width: 40%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11998A);
    background-image: -moz-linear-gradient(top, #11cdd4, #11998A);
    background-image: -ms-linear-gradient(top, #11cdd4, #11998A);
    background-image: -o-linear-gradient(top, #11cdd4, #11998A);
    background-image: linear-gradient(to bottom, #11cdd4, #11998A);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif; 
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 200px;
  }
  
  .btn:hover {
    background: #30A3cb;
    background-image: -webkit-linear-gradient(top, #30A3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30A3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30A3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30A3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30A3cb, #2bc4ad);
    text-decoration: none;
  }

  .copyright{
      color: #EAF6F6;
      font-size: 0.75rem;
      padding: 20px 0;
  }